openapi: 3.1.0
info:
  title: Hugging Face Inference API
  description: >-
    Run inference on 200,000+ machine learning models hosted on the Hugging Face
    Hub with a simple HTTP request. Supports text generation, image
    classification, object detection, speech recognition, and many more tasks.
  version: 1.0.0
  termsOfService: https://huggingface.co/terms-of-service
  contact:
    name: Hugging Face Support
    url: https://huggingface.co/support
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0
servers:
  - url: https://api-inference.huggingface.co
    description: Hugging Face Inference API production server
security:
  - bearerAuth: []
tags:
  - name: Natural Language Processing
    description: NLP tasks including text generation, classification, and translation
  - name: Computer Vision
    description: Image classification, object detection, and segmentation tasks
  - name: Audio
    description: Speech recognition, audio classification, and text-to-speech tasks
  - name: Multimodal
    description: Tasks involving multiple modalities
paths:
  /models/{model_id}:
    post:
      summary: Run inference on a model
      description: >-
        Run inference on any model hosted on the Hugging Face Hub. The request
        and response format depends on the model's pipeline task.
      operationId: runInference
      tags:
        - Natural Language Processing
      parameters:
        - name: model_id
          in: path
          required: true
          description: The model ID on the Hugging Face Hub (e.g., gpt2, bert-base-uncased)
          schema:
            type: string
          example: gpt2
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InferenceRequest'
      responses:
        '200':
          description: Successful inference result
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InferenceResponse'
        '400':
          description: Bad request - invalid input parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized - invalid or missing API token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden - insufficient permissions for this model
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Model not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: Rate limit exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '503':
          description: Model is loading or unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ModelLoadingResponse'
  /pipeline/{task}:
    post:
      summary: Run inference by task pipeline
      description: >-
        Run inference using a recommended model for a specific task pipeline.
        Hugging Face selects the best available model for the given task.
      operationId: runPipelineInference
      tags:
        - Natural Language Processing
      parameters:
        - name: task
          in: path
          required: true
          description: >-
            The pipeline task type (e.g., text-generation,
            text-classification, summarization)
          schema:
            type: string
            enum:
              - text-generation
              - text-classification
              - token-classification
              - question-answering
              - summarization
              - translation
              - fill-mask
              - text2text-generation
              - feature-extraction
              - sentence-similarity
              - zero-shot-classification
              - table-question-answering
              - conversational
              - image-classification
              - object-detection
              - image-segmentation
              - image-to-text
              - text-to-image
              - automatic-speech-recognition
              - audio-classification
              - text-to-speech
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InferenceRequest'
      responses:
        '200':
          description: Successful inference result
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InferenceResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: Rate limit exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /models/{model_id}/text-generation:
    post:
      summary: Text generation inference
      description: >-
        Generate text using a language model. Supports parameters like
        temperature, top_p, max_new_tokens, and repetition_penalty.
      operationId: textGeneration
      tags:
        - Natural Language Processing
      parameters:
        - name: model_id
          in: path
          required: true
          schema:
            type: string
          example: gpt2
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TextGenerationRequest'
      responses:
        '200':
          description: Generated text response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/TextGenerationResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '503':
          description: Model is loading
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ModelLoadingResponse'
  /models/{model_id}/text-classification:
    post:
      summary: Text classification inference
      description: >-
        Classify text into predefined categories using a text classification
        model such as sentiment analysis.
      operationId: textClassification
      tags:
        - Natural Language Processing
      parameters:
        - name: model_id
          in: path
          required: true
          schema:
            type: string
          example: distilbert-base-uncased-finetuned-sst-2-english
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TextClassificationRequest'
      responses:
        '200':
          description: Classification results
          content:
            application/json:
              schema:
                type: array
                items:
                  type: array
                  items:
                    $ref: '#/components/schemas/ClassificationResult'
  /models/{model_id}/question-answering:
    post:
      summary: Question answering inference
      description: >-
        Extract answers from a given context using a question answering model.
      operationId: questionAnswering
      tags:
        - Natural Language Processing
      parameters:
        - name: model_id
          in: path
          required: true
          schema:
            type: string
          example: deepset/roberta-base-squad2
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/QuestionAnsweringRequest'
      responses:
        '200':
          description: Answer extracted from context
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QuestionAnsweringResponse'
  /models/{model_id}/summarization:
    post:
      summary: Text summarization inference
      description: Summarize a long text into a shorter version.
      operationId: summarization
      tags:
        - Natural Language Processing
      parameters:
        - name: model_id
          in: path
          required: true
          schema:
            type: string
          example: facebook/bart-large-cnn
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SummarizationRequest'
      responses:
        '200':
          description: Summarized text
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SummarizationResponse'
  /models/{model_id}/translation:
    post:
      summary: Translation inference
      description: Translate text from one language to another.
      operationId: translation
      tags:
        - Natural Language Processing
      parameters:
        - name: model_id
          in: path
          required: true
          schema:
            type: string
          example: Helsinki-NLP/opus-mt-en-fr
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TranslationRequest'
      responses:
        '200':
          description: Translated text
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/TranslationResponse'
  /models/{model_id}/fill-mask:
    post:
      summary: Fill mask inference
      description: >-
        Fill in a masked token in a sentence using a masked language model.
      operationId: fillMask
      tags:
        - Natural Language Processing
      parameters:
        - name: model_id
          in: path
          required: true
          schema:
            type: string
          example: bert-base-uncased
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FillMaskRequest'
      responses:
        '200':
          description: Predicted tokens for the mask
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/FillMaskResponse'
  /models/{model_id}/feature-extraction:
    post:
      summary: Feature extraction inference
      description: >-
        Extract dense vector representations (embeddings) from text input.
      operationId: featureExtraction
      tags:
        - Natural Language Processing
      parameters:
        - name: model_id
          in: path
          required: true
          schema:
            type: string
          example: sentence-transformers/all-MiniLM-L6-v2
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FeatureExtractionRequest'
      responses:
        '200':
          description: Extracted feature vectors
          content:
            application/json:
              schema:
                type: array
                items:
                  type: array
                  items:
                    type: number
  /models/{model_id}/image-classification:
    post:
      summary: Image classification inference
      description: Classify an image into predefined categories.
      operationId: imageClassification
      tags:
        - Computer Vision
      parameters:
        - name: model_id
          in: path
          required: true
          schema:
            type: string
          example: google/vit-base-patch16-224
      requestBody:
        required: true
        content:
          application/octet-stream:
            schema:
              type: string
              format: binary
          application/json:
            schema:
              type: object
              properties:
                inputs:
                  type: string
                  description: URL of the image to classify
      responses:
        '200':
          description: Classification results
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ClassificationResult'
  /models/{model_id}/object-detection:
    post:
      summary: Object detection inference
      description: Detect objects in an image and return bounding boxes with labels.
      operationId: objectDetection
      tags:
        - Computer Vision
      parameters:
        - name: model_id
          in: path
          required: true
          schema:
            type: string
          example: facebook/detr-resnet-50
      requestBody:
        required: true
        content:
          application/octet-stream:
            schema:
              type: string
              format: binary
      responses:
        '200':
          description: Detected objects with bounding boxes
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ObjectDetectionResult'
  /models/{model_id}/automatic-speech-recognition:
    post:
      summary: Automatic speech recognition inference
      description: Transcribe audio to text using a speech recognition model.
      operationId: automaticSpeechRecognition
      tags:
        - Audio
      parameters:
        - name: model_id
          in: path
          required: true
          schema:
            type: string
          example: openai/whisper-large-v3
      requestBody:
        required: true
        content:
          audio/flac:
            schema:
              type: string
              format: binary
          audio/wav:
            schema:
              type: string
              format: binary
          audio/mp3:
            schema:
              type: string
              format: binary
      responses:
        '200':
          description: Transcribed text
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SpeechRecognitionResponse'
  /models/{model_id}/text-to-image:
    post:
      summary: Text to image generation
      description: Generate an image from a text prompt using a diffusion model.
      operationId: textToImage
      tags:
        - Multimodal
      parameters:
        - name: model_id
          in: path
          required: true
          schema:
            type: string
          example: stabilityai/stable-diffusion-xl-base-1.0
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TextToImageRequest'
      responses:
        '200':
          description: Generated image
          content:
            image/png:
              schema:
                type: string
                format: binary
  /models/{model_id}/zero-shot-classification:
    post:
      summary: Zero-shot classification inference
      description: >-
        Classify text into categories that the model has not been explicitly
        trained on using natural language inference.
      operationId: zeroShotClassification
      tags:
        - Natural Language Processing
      parameters:
        - name: model_id
          in: path
          required: true
          schema:
            type: string
          example: facebook/bart-large-mnli
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ZeroShotClassificationRequest'
      responses:
        '200':
          description: Classification scores for each candidate label
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ZeroShotClassificationResponse'
  /models/{model_id}/sentence-similarity:
    post:
      summary: Sentence similarity inference
      description: Compute similarity scores between a source sentence and target sentences.
      operationId: sentenceSimilarity
      tags:
        - Natural Language Processing
      parameters:
        - name: model_id
          in: path
          required: true
          schema:
            type: string
          example: sentence-transformers/all-MiniLM-L6-v2
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SentenceSimilarityRequest'
      responses:
        '200':
          description: Similarity scores
          content:
            application/json:
              schema:
                type: array
                items:
                  type: number
                  format: float
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: HF Token
      description: >-
        Hugging Face API token. Generate one from
        https://huggingface.co/settings/tokens
  schemas:
    InferenceRequest:
      type: object
      required:
        - inputs
      properties:
        inputs:
          oneOf:
            - type: string
            - type: array
              items:
                type: string
          description: The input data for inference
        parameters:
          type: object
          description: Task-specific parameters
        options:
          type: object
          properties:
            use_cache:
              type: boolean
              default: true
              description: Use cached results if available
            wait_for_model:
              type: boolean
              default: false
              description: Wait for the model to load instead of returning 503
    InferenceResponse:
      oneOf:
        - type: array
          items:
            type: object
        - type: object
        - type: string
      description: The inference result - format depends on the task
    TextGenerationRequest:
      type: object
      required:
        - inputs
      properties:
        inputs:
          type: string
          description: The prompt text to generate from
          example: The answer to the universe is
        parameters:
          type: object
          properties:
            max_new_tokens:
              type: integer
              description: Maximum number of tokens to generate
              example: 250
            temperature:
              type: number
              format: float
              description: Sampling temperature (0.0 to 100.0)
              example: 1.0
            top_p:
              type: number
              format: float
              description: Nucleus sampling parameter
              example: 0.95
            top_k:
              type: integer
              description: Top-k sampling parameter
              example: 50
            repetition_penalty:
              type: number
              format: float
              description: Repetition penalty (1.0 means no penalty)
              example: 1.0
            do_sample:
              type: boolean
              description: Whether to use sampling instead of greedy decoding
              default: true
            return_full_text:
              type: boolean
              description: Whether to return the full text including the prompt
              default: true
            stop:
              type: array
              items:
                type: string
              description: Stop sequences to halt generation
        options:
          type: object
          properties:
            use_cache:
              type: boolean
              default: true
            wait_for_model:
              type: boolean
              default: false
    TextGenerationResponse:
      type: object
      properties:
        generated_text:
          type: string
          description: The generated text
    TextClassificationRequest:
      type: object
      required:
        - inputs
      properties:
        inputs:
          type: string
          description: The text to classify
          example: I love this movie!
    ClassificationResult:
      type: object
      properties:
        label:
          type: string
          description: The predicted label
          example: POSITIVE
        score:
          type: number
          format: float
          description: Confidence score for the label
          example: 0.9998
    QuestionAnsweringRequest:
      type: object
      required:
        - inputs
      properties:
        inputs:
          type: object
          required:
            - question
            - context
          properties:
            question:
              type: string
              description: The question to answer
              example: What is the capital of France?
            context:
              type: string
              description: The context containing the answer
              example: France is a country in Europe. Its capital is Paris.
    QuestionAnsweringResponse:
      type: object
      properties:
        answer:
          type: string
          description: The extracted answer
          example: Paris
        score:
          type: number
          format: float
          description: Confidence score
        start:
          type: integer
          description: Start character position in context
        end:
          type: integer
          description: End character position in context
    SummarizationRequest:
      type: object
      required:
        - inputs
      properties:
        inputs:
          type: string
          description: The text to summarize
        parameters:
          type: object
          properties:
            min_length:
              type: integer
              description: Minimum length of the summary
            max_length:
              type: integer
              description: Maximum length of the summary
    SummarizationResponse:
      type: object
      properties:
        summary_text:
          type: string
          description: The summarized text
    TranslationRequest:
      type: object
      required:
        - inputs
      properties:
        inputs:
          type: string
          description: The text to translate
          example: Hello, how are you?
    TranslationResponse:
      type: object
      properties:
        translation_text:
          type: string
          description: The translated text
    FillMaskRequest:
      type: object
      required:
        - inputs
      properties:
        inputs:
          type: string
          description: Text with [MASK] token to fill
          example: The capital of France is [MASK].
    FillMaskResponse:
      type: object
      properties:
        sequence:
          type: string
          description: The complete text with filled mask
        score:
          type: number
          format: float
          description: Confidence score for the prediction
        token:
          type: integer
          description: Token ID of the predicted word
        token_str:
          type: string
          description: The predicted word
    FeatureExtractionRequest:
      type: object
      required:
        - inputs
      properties:
        inputs:
          oneOf:
            - type: string
            - type: array
              items:
                type: string
          description: The text input(s) for embedding extraction
    TextToImageRequest:
      type: object
      required:
        - inputs
      properties:
        inputs:
          type: string
          description: The text prompt to generate an image from
          example: A beautiful sunset over mountains
        parameters:
          type: object
          properties:
            negative_prompt:
              type: string
              description: Text describing what to avoid in the image
            height:
              type: integer
              description: Height of the generated image in pixels
            width:
              type: integer
              description: Width of the generated image in pixels
            num_inference_steps:
              type: integer
              description: Number of denoising steps
            guidance_scale:
              type: number
              format: float
              description: Classifier-free guidance scale
    ZeroShotClassificationRequest:
      type: object
      required:
        - inputs
        - parameters
      properties:
        inputs:
          type: string
          description: The text to classify
        parameters:
          type: object
          required:
            - candidate_labels
          properties:
            candidate_labels:
              type: array
              items:
                type: string
              description: Labels to classify against
            multi_label:
              type: boolean
              default: false
              description: Whether multiple labels can be true
    ZeroShotClassificationResponse:
      type: object
      properties:
        sequence:
          type: string
        labels:
          type: array
          items:
            type: string
        scores:
          type: array
          items:
            type: number
            format: float
    SentenceSimilarityRequest:
      type: object
      required:
        - inputs
      properties:
        inputs:
          type: object
          required:
            - source_sentence
            - sentences
          properties:
            source_sentence:
              type: string
              description: The source sentence to compare against
            sentences:
              type: array
              items:
                type: string
              description: Target sentences to compare with
    ObjectDetectionResult:
      type: object
      properties:
        label:
          type: string
          description: Detected object label
        score:
          type: number
          format: float
          description: Detection confidence score
        box:
          type: object
          properties:
            xmin:
              type: integer
            ymin:
              type: integer
            xmax:
              type: integer
            ymax:
              type: integer
    SpeechRecognitionResponse:
      type: object
      properties:
        text:
          type: string
          description: The transcribed text
    ModelLoadingResponse:
      type: object
      properties:
        error:
          type: string
          description: Error message indicating the model is loading
          example: Model is currently loading
        estimated_time:
          type: number
          format: float
          description: Estimated time in seconds until the model is ready
    Error:
      type: object
      properties:
        error:
          type: string
          description: Error message
        estimated_time:
          type: number
          format: float
          description: Estimated time until availability (for loading errors)
