openapi: 3.1.0
info:
  title: Hugging Face Text Generation Inference API
  description: >-
    High-performance toolkit for deploying and serving large language models with
    optimized inference. Provides both a custom TGI API and an OpenAI-compatible
    Messages API for chat completions. Supports streaming, tool calling,
    structured output, grammar constraints, and multi-modal inputs.
  version: 1.0.0
  termsOfService: https://huggingface.co/terms-of-service
  contact:
    name: Hugging Face Support
    url: https://huggingface.co/support
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0
servers:
  - url: https://api-inference.huggingface.co
    description: Hugging Face hosted TGI server
  - url: http://localhost:8080
    description: Local TGI server (self-hosted)
security:
  - bearerAuth: []
tags:
  - name: Text Generation
    description: TGI native text generation endpoints
  - name: Chat
    description: OpenAI-compatible chat completion endpoints
  - name: Info
    description: Server and model information
paths:
  /generate:
    post:
      summary: Generate text
      description: >-
        Generate text from a prompt using the loaded model. Returns the full
        generated text in a single response.
      operationId: generate
      tags:
        - Text Generation
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GenerateRequest'
      responses:
        '200':
          description: Generated text
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenerateResponse'
          headers:
            x-compute-type:
              schema:
                type: string
              description: Compute backend used
            x-compute-characters:
              schema:
                type: integer
              description: Number of input characters
            x-total-time:
              schema:
                type: number
              description: Total inference time in milliseconds
            x-validation-time:
              schema:
                type: number
              description: Input validation time in milliseconds
            x-queue-time:
              schema:
                type: number
              description: Queue wait time in milliseconds
            x-inference-time:
              schema:
                type: number
              description: Model inference time in milliseconds
            x-time-per-token:
              schema:
                type: number
              description: Average time per generated token in milliseconds
            x-prompt-tokens:
              schema:
                type: integer
              description: Number of prompt tokens
            x-generated-tokens:
              schema:
                type: integer
              description: Number of generated tokens
        '400':
          description: Invalid input - validation error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '422':
          description: Generation error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: Model is overloaded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /generate_stream:
    post:
      summary: Generate text with streaming
      description: >-
        Generate text from a prompt using Server-Sent Events (SSE) streaming.
        Tokens are returned incrementally as they are generated.
      operationId: generateStream
      tags:
        - Text Generation
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GenerateRequest'
      responses:
        '200':
          description: Stream of generated tokens
          content:
            text/event-stream:
              schema:
                $ref: '#/components/schemas/StreamResponse'
        '400':
          description: Invalid input
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: Model is overloaded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /v1/chat/completions:
    post:
      summary: Create chat completion (OpenAI compatible)
      description: >-
        Create a chat completion using the OpenAI-compatible Messages API.
        Supports conversations, tool calling, structured output via JSON schema,
        and multi-modal inputs (text + images). Fully compatible with OpenAI
        client libraries.
      operationId: chatCompletions
      tags:
        - Chat
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ChatCompletionRequest'
      responses:
        '200':
          description: Chat completion response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChatCompletionResponse'
            text/event-stream:
              schema:
                $ref: '#/components/schemas/ChatCompletionStreamResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '422':
          description: Unprocessable entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: Model overloaded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /v1/completions:
    post:
      summary: Create text completion (OpenAI compatible)
      description: >-
        Create a text completion using the OpenAI-compatible completions API
        format.
      operationId: completions
      tags:
        - Text Generation
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CompletionRequest'
      responses:
        '200':
          description: Completion response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CompletionResponse'
            text/event-stream:
              schema:
                $ref: '#/components/schemas/CompletionStreamResponse'
  /v1/models:
    get:
      summary: List available models
      description: Get information about the model currently loaded on this TGI server.
      operationId: listModels
      tags:
        - Info
      security: []
      responses:
        '200':
          description: Available models
          content:
            application/json:
              schema:
                type: object
                properties:
                  object:
                    type: string
                    const: list
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          description: Model ID
                        object:
                          type: string
                          const: model
                        created:
                          type: integer
                        owned_by:
                          type: string
  /info:
    get:
      summary: Get server information
      description: >-
        Get metadata about the TGI server including the loaded model, version,
        SHA, Docker label, and model-specific parameters.
      operationId: getInfo
      tags:
        - Info
      security: []
      responses:
        '200':
          description: Server and model information
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Info'
  /health:
    get:
      summary: Health check
      description: >-
        Check the health of the TGI server. Returns 200 if the model is loaded
        and ready to serve requests.
      operationId: healthCheck
      tags:
        - Info
      security: []
      responses:
        '200':
          description: Server is healthy and ready
        '503':
          description: Server is not ready (model still loading)
  /metrics:
    get:
      summary: Get Prometheus metrics
      description: >-
        Get server metrics in Prometheus format including request counts,
        latencies, queue sizes, and token throughput.
      operationId: getMetrics
      tags:
        - Info
      security: []
      responses:
        '200':
          description: Prometheus-formatted metrics
          content:
            text/plain:
              schema:
                type: string
  /tokenize:
    post:
      summary: Tokenize text
      description: >-
        Tokenize a string of text using the model's tokenizer. Returns the
        token IDs and their string representations.
      operationId: tokenize
      tags:
        - Info
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - inputs
              properties:
                inputs:
                  type: string
                  description: Text to tokenize
                add_special_tokens:
                  type: boolean
                  default: true
                  description: Whether to add special tokens
      responses:
        '200':
          description: Tokenized result
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: integer
                      description: Token ID
                    text:
                      type: string
                      description: Token text
                    start:
                      type: integer
                    stop:
                      type: integer
                    special:
                      type: boolean
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: HF Token
      description: >-
        Hugging Face API token or custom auth token for self-hosted instances.
  schemas:
    GenerateRequest:
      type: object
      required:
        - inputs
      properties:
        inputs:
          type: string
          description: Input prompt text
          example: What is deep learning?
        parameters:
          type: object
          properties:
            max_new_tokens:
              type: integer
              description: Maximum number of tokens to generate
              default: 20
              example: 100
            temperature:
              type: number
              format: float
              description: Sampling temperature (higher = more random)
              minimum: 0
              example: 0.7
            top_p:
              type: number
              format: float
              description: Nucleus sampling probability threshold
              minimum: 0
              maximum: 1
              example: 0.95
            top_k:
              type: integer
              description: Top-k sampling parameter
              minimum: 0
              example: 50
            repetition_penalty:
              type: number
              format: float
              description: Repetition penalty (1.0 = no penalty)
              example: 1.1
            do_sample:
              type: boolean
              description: Whether to use sampling vs greedy decoding
              default: false
            seed:
              type: integer
              description: Random seed for reproducibility
            stop:
              type: array
              items:
                type: string
              description: Stop sequences
            watermark:
              type: boolean
              description: Whether to add a watermark to generated text
              default: false
            return_full_text:
              type: boolean
              description: Include the input prompt in the response
              default: false
            decoder_input_details:
              type: boolean
              description: Return decoder input token details
              default: false
            details:
              type: boolean
              description: Return generation details (tokens, logprobs, etc.)
              default: false
            truncate:
              type: integer
              description: Truncate input to this many tokens
            typical_p:
              type: number
              format: float
              description: Typical decoding probability threshold
            best_of:
              type: integer
              description: Generate this many sequences and return the best
              minimum: 1
            grammar:
              type: object
              description: Grammar constraints for generation
              properties:
                type:
                  type: string
                  enum:
                    - json
                    - regex
                value:
                  type: string
                  description: Grammar specification (JSON schema or regex)
    GenerateResponse:
      type: object
      properties:
        generated_text:
          type: string
          description: The generated text
        details:
          type: object
          properties:
            finish_reason:
              type: string
              enum:
                - length
                - eos_token
                - stop_sequence
              description: Reason generation stopped
            generated_tokens:
              type: integer
              description: Number of generated tokens
            seed:
              type: integer
              description: Sampling seed used
            prefill:
              type: array
              items:
                type: object
                properties:
                  id:
                    type: integer
                  text:
                    type: string
                  logprob:
                    type: number
              description: Prefill token details
            tokens:
              type: array
              items:
                type: object
                properties:
                  id:
                    type: integer
                  text:
                    type: string
                  logprob:
                    type: number
                  special:
                    type: boolean
              description: Generated token details
            best_of_sequences:
              type: array
              items:
                type: object
              description: Best-of sequences details
    StreamResponse:
      type: object
      properties:
        token:
          type: object
          properties:
            id:
              type: integer
            text:
              type: string
            logprob:
              type: number
            special:
              type: boolean
        generated_text:
          type: string
          description: Full generated text (only in the last event)
        details:
          type: object
          description: Generation details (only in the last event)
          properties:
            finish_reason:
              type: string
            generated_tokens:
              type: integer
            seed:
              type: integer
    ChatCompletionRequest:
      type: object
      required:
        - model
        - messages
      properties:
        model:
          type: string
          description: Model identifier (can be tgi or a model ID)
          example: tgi
        messages:
          type: array
          description: Conversation messages
          items:
            type: object
            required:
              - role
            properties:
              role:
                type: string
                enum:
                  - system
                  - user
                  - assistant
                  - tool
              content:
                oneOf:
                  - type: string
                  - type: array
                    items:
                      oneOf:
                        - type: object
                          required:
                            - type
                            - text
                          properties:
                            type:
                              type: string
                              const: text
                            text:
                              type: string
                        - type: object
                          required:
                            - type
                            - image_url
                          properties:
                            type:
                              type: string
                              const: image_url
                            image_url:
                              type: object
                              required:
                                - url
                              properties:
                                url:
                                  type: string
              tool_calls:
                type: array
                items:
                  type: object
                  required:
                    - id
                    - type
                    - function
                  properties:
                    id:
                      type: string
                    type:
                      type: string
                    function:
                      type: object
                      required:
                        - name
                      properties:
                        name:
                          type: string
                        arguments:
                          type: string
                        description:
                          type: string
              tool_call_id:
                type: string
              name:
                type: string
        frequency_penalty:
          type: number
          minimum: -2.0
          maximum: 2.0
        logprobs:
          type: boolean
        max_tokens:
          type: integer
          description: Maximum tokens to generate
        presence_penalty:
          type: number
          minimum: -2.0
          maximum: 2.0
        response_format:
          oneOf:
            - type: object
              properties:
                type:
                  type: string
                  const: text
            - type: object
              required:
                - type
                - json_schema
              properties:
                type:
                  type: string
                  const: json_schema
                json_schema:
                  type: object
                  required:
                    - name
                  properties:
                    name:
                      type: string
                    description:
                      type: string
                    schema:
                      type: object
                    strict:
                      type: boolean
            - type: object
              properties:
                type:
                  type: string
                  const: json_object
        seed:
          type: integer
        stop:
          type: array
          items:
            type: string
          maxItems: 4
        stream:
          type: boolean
          default: false
        stream_options:
          type: object
          properties:
            include_usage:
              type: boolean
        temperature:
          type: number
          minimum: 0
          maximum: 2
        tool_choice:
          oneOf:
            - type: string
              enum:
                - auto
                - none
                - required
            - type: object
              required:
                - function
              properties:
                function:
                  type: object
                  required:
                    - name
                  properties:
                    name:
                      type: string
        tool_prompt:
          type: string
          description: Prompt appended before tools
        tools:
          type: array
          items:
            type: object
            required:
              - type
              - function
            properties:
              type:
                type: string
              function:
                type: object
                required:
                  - name
                properties:
                  name:
                    type: string
                  description:
                    type: string
                  parameters:
                    type: object
        top_logprobs:
          type: integer
          minimum: 0
          maximum: 5
        top_p:
          type: number
          minimum: 0
          maximum: 1
    ChatCompletionResponse:
      type: object
      properties:
        id:
          type: string
        object:
          type: string
          const: chat.completion
        created:
          type: integer
        model:
          type: string
        system_fingerprint:
          type: string
        choices:
          type: array
          items:
            type: object
            properties:
              index:
                type: integer
              message:
                type: object
                properties:
                  role:
                    type: string
                  content:
                    type: string
                  tool_calls:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                        type:
                          type: string
                        function:
                          type: object
                          properties:
                            name:
                              type: string
                            arguments:
                              type: string
                            description:
                              type: string
                  tool_call_id:
                    type: string
              finish_reason:
                type: string
                enum:
                  - stop
                  - length
                  - tool_calls
              logprobs:
                type: object
                properties:
                  content:
                    type: array
                    items:
                      type: object
                      properties:
                        token:
                          type: string
                        logprob:
                          type: number
                        top_logprobs:
                          type: array
                          items:
                            type: object
                            properties:
                              token:
                                type: string
                              logprob:
                                type: number
        usage:
          $ref: '#/components/schemas/Usage'
    ChatCompletionStreamResponse:
      type: object
      properties:
        id:
          type: string
        object:
          type: string
          const: chat.completion.chunk
        created:
          type: integer
        model:
          type: string
        system_fingerprint:
          type: string
        choices:
          type: array
          items:
            type: object
            properties:
              index:
                type: integer
              delta:
                type: object
                properties:
                  role:
                    type: string
                  content:
                    type: string
                  tool_calls:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                        index:
                          type: integer
                        type:
                          type: string
                        function:
                          type: object
                          properties:
                            name:
                              type: string
                            arguments:
                              type: string
                  tool_call_id:
                    type: string
              finish_reason:
                type: string
              logprobs:
                type: object
                properties:
                  content:
                    type: array
                    items:
                      type: object
                      properties:
                        token:
                          type: string
                        logprob:
                          type: number
                        top_logprobs:
                          type: array
                          items:
                            type: object
                            properties:
                              token:
                                type: string
                              logprob:
                                type: number
        usage:
          $ref: '#/components/schemas/Usage'
    CompletionRequest:
      type: object
      required:
        - model
        - prompt
      properties:
        model:
          type: string
        prompt:
          oneOf:
            - type: string
            - type: array
              items:
                type: string
        max_tokens:
          type: integer
          default: 16
        temperature:
          type: number
        top_p:
          type: number
        stop:
          type: array
          items:
            type: string
        stream:
          type: boolean
          default: false
        seed:
          type: integer
        suffix:
          type: string
          description: Suffix to append after generated text
    CompletionResponse:
      type: object
      properties:
        id:
          type: string
        object:
          type: string
          const: text_completion
        created:
          type: integer
        model:
          type: string
        choices:
          type: array
          items:
            type: object
            properties:
              text:
                type: string
              index:
                type: integer
              finish_reason:
                type: string
        usage:
          $ref: '#/components/schemas/Usage'
    CompletionStreamResponse:
      type: object
      properties:
        id:
          type: string
        object:
          type: string
          const: text_completion
        created:
          type: integer
        model:
          type: string
        choices:
          type: array
          items:
            type: object
            properties:
              text:
                type: string
              index:
                type: integer
              finish_reason:
                type: string
    Info:
      type: object
      properties:
        model_id:
          type: string
          description: Loaded model ID
        model_sha:
          type: string
          description: Model revision SHA
        model_dtype:
          type: string
          description: Model data type
          enum:
            - float16
            - bfloat16
            - float32
        model_device_type:
          type: string
          description: Device type (cuda, cpu)
        model_pipeline_tag:
          type: string
          description: Pipeline task tag
        max_concurrent_requests:
          type: integer
        max_best_of:
          type: integer
        max_stop_sequences:
          type: integer
        max_input_length:
          type: integer
          description: Maximum input token length
        max_total_tokens:
          type: integer
          description: Maximum total tokens (input + output)
        waiting_served_ratio:
          type: number
        max_batch_total_tokens:
          type: integer
        max_waiting_tokens:
          type: integer
        validation_workers:
          type: integer
        max_client_batch_size:
          type: integer
        version:
          type: string
          description: TGI version
        sha:
          type: string
          description: TGI build SHA
        docker_label:
          type: string
          description: Docker image label
    Usage:
      type: object
      properties:
        prompt_tokens:
          type: integer
        completion_tokens:
          type: integer
        total_tokens:
          type: integer
    ErrorResponse:
      type: object
      properties:
        error:
          type: string
          description: Error message
        error_type:
          type: string
          description: Error type classification
